/* Add styles here */
body{
    font-family: "Comic Sans MS", sans-serif;
    margin: 0px;
    background-color:#f2e9ea ;
}
/* ------------ sidebar -------------- */

.asidebar{
    background-color:#020202;
    float: left;
    width: 300px;
    text-align: center;
    top: 0;
    position: fixed;
    height: 100%;
    box-shadow: 0 0 15px black;

}
.asidebar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}
.asidebar ul li a{
    text-decoration: none;
    color:#e9e9e7;
    padding: 16px 25px;
    display: inline-block;
    font-size: 18px;
    font-weight: 100;

}
.asidebar ul li a:hover{
    background-color: #e9e9e7;
    color: red;
    width: 100px;
    box-shadow: 0 0 15px red;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.asidebar img{
    margin-top: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #e9e9e7 ;
}
.asidebar img:hover{
    color: #00aeef;
    background-color: white;
    cursor: pointer;
}



/*--about section----*/
#about-section{
    margin-left: 300px;
    padding: 40px;

}
.about-article h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    margin: 150px 0 0 0;
}
.fname{
    text-shadow: 0 0 15px #4f5a90;
    color:#343a40;

}
.lname{
    text-shadow:0 0 15px #338fa3;
    color:#bd5d38;
}
 /*---head section h2---*/
.about-article h2{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    margin-top: 0;
}
.about-article p{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    color: #818283;

}
/*experience*/
#experience{
    margin: 150px 0 200px 300px;
    padding: 30px;


}

.main-heading{
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    text-shadow: 0 0 5px #bd5d38;
}
.ex-article{
    width: 300px;
    display: inline-block;
    padding: 10px;
    height: 150px;

}
.ex-article h3{
    font-family: 'Courgette', cursive;
    font-size: 25px;
}
.ex-article p{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: #818283;
    text-align: justify;
}
.exp-button {
    background-color:#020202;
    color: white;
    border: none;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;

}
/*education*/

#education{
    margin: 150px 0 200px 300px;
    padding: 20px;
}
 table{
    width: 100%;
    display: inline-block;
    padding: 5px;
    text-align: center;
     background-color: #e6e7e2;
     border: 5px solid #deac8c;
     box-shadow: 0 0 15px #d5d4da;


}
 table th{
     font-family: 'Courgette', cursive;
     font-size: 25px;
 }
 table td{
     padding: 20px;
     font-family: 'Courgette', cursive;
     font-size: 20px;
     color: #818283;
 }

/* --------------------- Skills Section --------------- */
#skills-section{
    margin-left: 300px;
    padding: 20px;
}
.skills-article{
    background-color: #e6e7e2;
    border: 5px solid #deac8c;
    padding: 10px;
    margin: 15px;
}
.skills-article h3{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #bd5d38;
}
.skills-article p {
    font-family: 'Courgette', cursive;
    font-size: 25px;
}
.skills-article .fab{
    color: black;
    padding: 0 20px 0 20px;
}
.skills-article .fab:hover{
    color: #bd5d38;;

}

/* ----------------- Interests Section ----------- */
#interests-section{
    margin-left: 300px;
    padding: 20px;
}
.interests-article{
    background-color: #e6e7e2;
    border: 5px solid #deac8c;
    padding: 10px;
    margin: 15px;
}
.interests-article h3{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #bd5d38;
}
.interests-article .fas{
    color: black;
    padding: 0 20px 0 20px;
}
.interests-article .fas:hover{
    color: #bd5d38;;

}
